/*BLOQUE BEM NAVEGADOR*/
.navegador {
  height: min-content;
  margin-top: 55px;
  box-shadow: 0 0 10px #1d1d1d;
  padding: 0%; }
  .navegador__lista {
    list-style-type: none;
    display: flex;
    background-color: #1d1d1d;
    margin: 0%;
    padding: 0%; }
  .navegador__item {
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px; }
  .navegador__link {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase; }
  .navegador__link:hover {
    color: #1d1d1d;
    background-color: white; }

/*BLOQUE BEM CARTA*/
.carta {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .carta__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 40%;
    height: 18%;
    margin: 10px;
    padding: 7px;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: #1d1d1d;
    box-shadow: 0 0 10px #1d1d1d; }
  .carta__parrafo {
    text-align: center;
    width: 60%; }
  .carta__imagen {
    background-color: rgba(10, 72, 204, 0.356);
    width: 200px;
    height: 200px;
    margin: 10px;
    border: solid   2px black;
    transition: 0.5s; }
  .carta__imagen:hover {
    transform: translate(20px, 20px); }

/*BLOQUE BEM WHATSAPP*/
.whatsapp {
  position: fixed;
  right: 25px;
  /*Margen derecho*/
  bottom: 40px;
  /*Margen abajo*/
  z-index: 999; }
  .whatsapp:hover {
    opacity: 0.7; }
  .whatsapp__link {
    background-color: rgba(255, 255, 255, 0) !important; }

/*BLOQUE BEM TABLA*/
.tabla {
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  background-color: rgba(29, 29, 29, 0.582); }
  .tabla__titulos {
    color: white;
    padding: 3px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    text-align: center;
    text-transform: uppercase; }
